<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{#each model as |category|}}
            <tr class="table-striped">
                <td>
                    {{category.name}}
                </td>
                <td>
                    {{#link-to 'admin.category.edit' category tagName="button" class="btn" }}Edit{{/link-to}}
                </td>
                <td>
                    <button class="btn" {{action 'delete' category.id}}>Delete</button>
                </td>
            </tr>
            {{else}}
                <tr class="table-striped">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        {{/each}}
    </tbody>
</table>
{{#link-to 'admin.category.create' tagName="button" class="btn" }}Create{{/link-to}}