/**
 * fonts
 */

@include font-face("costa-icons", "../fonts/costa-icons/costa-icons");

/**
 * icons
 */

.icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.4em;
    @include font-smoothing();
    &:before,
    &:after {
        top: 0;
        font-family: $arial;
    }
}
