/**
 * Setup
 */

$breakpoints: $grid-breakpoints;

/**
 * Fonts
 */

$arial: Arial,
Helvetica,
sans-serif;
$ultra: 'Ultra',
$arial;
$kanit: 'Kanit',
$arial;

/**
 * Colours
 */

$greyLight: #EFEFEF;
$greyMedium: #343434;
$greyDark: #323334;
$orange: #E65D00;
$orangeLight: #E1AB0A;
$yellow: #F9F03F;
$pink: #CF31E6;
$pinkLight: #ED61F3;

/**
 * Header
 */

$headerHeight: 65px;
