input[type="text"],
input[type="checkbox"],
input[type="radio"],
input[type="email"],
input[type="password"] {
    background-color: lighten($orangeLight, 40);
    display: block;
    padding: 1em 1em 1.2em;
    width: 100%;
    border: none;
    color: $orange;
    font-size: 1em;
    &:focus {
        border-color: $orangeLight;
    }
}

input::placeholder {
    color: lighten($orangeLight, 20);
}
