<div class="form-increment-control">
    <button class='form-increment-minus' {{action "decrement"}}>-</button>
  {{input type=text id=id class='form-increment-quantity' value=value keyup="update"}}
    <button class='form-increment-plus' {{action "increment"}}>+</button>
</div>
{{yield}}