.form-increment {
    display: flex;
}

.form-increment-control {
    display: flex;
    padding-bottom: 10px;
}

.form-increment input {
    border-left: 0;
    border-right: 0;
    width: 60px;
    text-align: center;
    border: 1px solid $greyLight;
    padding: 0 10px;
    border-radius: 0;
    box-shadow: none;
    box-shadow: 0 6px $pink;
}

.form-increment button {
    padding: 5px 15px;
}

.form-increment button.form-increment-minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-increment button.form-increment-plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-increment .delete-row {
    margin-left: auto;
}
