/**
 * defaults
 */

@lost flexbox flex;

/**
 * base
 */

html {
  font-size: responsive 13px 16px;
  font-range: 420px 1280px;
}

html,
body {
  height: 100%;
}

body {
  background-color: lighten($orangeLight, 50);
  color: $greyMedium;
  font-family: $kanit;
  line-height: 1;
}
